
@{
    ViewBag.Title = "ConfirmDeliveryRequestBayment";
    Layout = "~/Views/Shared/_normalcustomerLayout.cshtml";

}
<script type="text/javascript">
setTimeout(
function ( )
{
  self.close();
}, 5000 );
</script>
<h2>Success !</h2>
@section scripts {
    <!--will not reffenced as it alreed on layout -->
    <!--<script src="~/Scripts/jquery-3.2.1.min.js"></script> -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script type="text/javascript"> var MyType = '@Session["userType"]';</script>
    <script type="text/javascript"> var Myuser_name = '@Session["userName"]';</script>
    <script type="text/javascript" src="~/Scripts/SignalR_AllViews.js"></script>
}


